rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      
      function isAuthenticated(){
          return request.auth.uid != null
      }

      function isOwner(){
          return isAuthenticated() && request.resource.data.userId == request.auth.uid || resource.data.userId == request.auth.uid
      }

      match /questions/{questionId} {
          allow read;
          allow write: if isOwner();
      }

      match /tags/{tagId} {
          allow read;
          allow create: if isAuthenticated()
      }
    }
  }
}